<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js" integrity="sha512-EAEoidLzhKrfVg7qX8xZFEAebhmBMsXrIcI0h7VPx2CyAyFHuDvOAUs9CEATB2Ou2/kuWEDtluEVrQcjXBy9yw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Pastebin</title>
    <style>
        textarea {
            background-color: transparent;
            resize: none;
            width: 100%;
            color: white;
        }
        button {
            width: 70px;
            height: 30px;
            color: black;
        }
    </style>
</head>
<body style="background-color: black;">
    <div class="container">
        <form action="/save" method="POST">
            <textarea autofocus name="value" onkeydown="handleTabKey(event)"></textarea>
            <button id="button1" type="submit">Save</button>
        </form>
    </div>
    <script>
        autosize(document.querySelector('textarea'))

        function handleTabKey(event) {
            if (event.keyCode === 9) { 
                event.preventDefault(); 
                var textarea = event.target;
                var start = textarea.selectionStart;
                var end = textarea.selectionEnd;
                textarea.value = textarea.value.substring(0, start)
                                + "\t"
                                + textarea.value.substring(end);
                                
                textarea.selectionStart = textarea.selectionEnd = start + 1;
            }
        }
    </script>
</body>
</html>
